[submodule "EDE/vendor/Box2D"]
	path = EDE/vendor/Box2D
	url = https://github.com/borjacano97/Box2D
[submodule "EDE/vendor/imgui"]
	path = EDE/vendor/imgui
	url = https://github.com/borjacano97/imgui.git
